.user {
  display: grid;
  grid-template-columns: minmax(290px, 690px) 270px;
  align-items: center;
}

.user__info {
  list-style: none;
  margin: 20px 0;
  padding-right: 15px;
  border-right: 1px solid #d4d4d4;
}

.user__btn {
  justify-self: end;
}

.user__btn button {
  width: 190px;
  border-radius: 5px;
  background-image: linear-gradient(
    90deg,
    rgb(202, 0, 81) 0%,
    rgb(223, 4, 92) 100%
  );
  box-shadow: 0px 3px 0px 0px rgba(148, 0, 59, 0.8);
  height: 50px;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  color: white;
  border: none;
  display: block;
  padding: 15px 0;
  margin-left: auto;
  cursor: pointer;
}

@media (max-width: 680px) {
  .user {
    grid-template-columns: auto;
  }

  .user__info {
    padding-right: 0;
    border-right: none;
  }

  .user__btn {
    justify-self: center;
    margin-bottom: 20px;
  }
}
